{% extends "template.html" %}
{% block JS %}
<script type=text/javascript src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}cart.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){  
 var opt = new Array();    
 var errMsg = new Array();     
 var lang = new Array();     
 errMsg['name'] = {{ ERRORMSG.name|json_encode()|raw }}; 
 errMsg['phone'] = {{ ERRORMSG.phone|json_encode()|raw }}; 
 errMsg['address'] = {{ ERRORMSG.address|json_encode()|raw }}; 
 errMsg['email'] = {{ ERRORMSG.email|json_encode()|raw }};  
 errMsg['zipcode'] = {{ ERRORMSG.zipcode|json_encode()|raw }};  
 errMsg['shipment'] = {{ ERRORMSG.shipment|json_encode()|raw }};
    
 lang['insurance'] = "{{ LANG.insurance|raw }}";
    
 opt['errMsg'] = errMsg;
 opt['lang'] = lang;
 opt['decimal'] = 0;
 opt['shipmentService'] = {{ arrShipmentService|raw }};
 var cart = new Cart(opt);
 cart.loadOnReady(); 
    
    
{{ JSScript|raw }} 
})
</script>
{% endblock %}

{% block content %} 
{% set bannerIndex = banner[PAGE_ID][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div> 


<div class="content-wrapper">   
<div style="clear: both; height: 2em"></div>    
<form id="mnv-form-cart" class="form-horizontal prevent-form-submit" action="/ajax-cart.php">
{{ inputHidAction|raw }} {{ inputHidVoucherKey|raw }}{{ inputDiscount|raw }}
    
<div class="notification-msg"></div>

<div class="mnv-cart-panel">
<h2 relkey="cartList">{{ LANG.shoppingList|raw }}
<div class="summary mnv-cart-list-summary">
    <b><span class="summary-qty"></span> {{ LANG.items|lower }}, {{ LANG.total|lower }} Rp. <span class="mnv-cart-total-sales"></span></b>
    <div class="summary-description"></div>
</div>    
</h2> 
<div class="tab">
<div class="div-table mnv-cart-table" style="width: 100%">    
    <div class="div-table-row col-header-row" > 
        <div class="div-table-col-5 col-header" style="text-align:right;  " >#</div>
        <div class="div-table-col-5 col-header" style="text-align:left;" >{{ LANG.itemName }}</div> 
        <div class="div-table-col-5 col-header" style="text-align:right; width:20%;" >{{ LANG.qty }}</div>
        <div class="div-table-col-5 col-header" style="text-align:right; width:13%;" >{{ LANG.price }}</div>
        <div class="div-table-col-5 col-header" style="text-align:right; width:18%;">{{ LANG.subtotal }}</div>
        <div class="div-table-col-5 col-header" style="text-align:right; width:5%" ></div>
    </div>  

    {% for item in cartList %}
        <div class="div-table-row transaction-row">
            <div class="div-table-col-5 row-number" style="text-align:right; vertical-align:top" >{{ loop.index }}.</div>  
            <div class="div-table-col-5 mnv-item-name name-col" style="vertical-align:top; text-align:left;" >
                {{ hidItemKey[loop.index-1]|raw }}{{ hidItemWeight[loop.index-1]|raw }}<a href="/products-detail/{{ item.name|urlfilter }}/{{ item.pkey }}" target="_blank">{{ item.name|raw }}</a>
                
                <div class="mnv-price-mobile" style="vertical-align:top;" ><div style="clear:both"></div>Rp. {{ item.sellingprice|number_format }}</div> 
            </div> 
            <div class="div-table-col-5 mnv-qty qty-col" style="vertical-align:top" > 
            <div class="mnv-qty-panel"> 
                   <!-- <span class="mnv-label-qty">{{ item.qty|number_format }}</span>-->
                    <div class="mobile-delete-col user-select-none"><i class="fas fa-trash"></i></div>
                    <div class="ctr-btn minus" rel-ctr="-1"><i class="fas fa-minus-square"></i></div>             
                    <div class="mnv-input-qty">{{ item.inputQty|raw }}</div> 
                    <div class="ctr-btn plus" rel-ctr="1"><i class="fas fa-plus-square"></i></div>
                
                    <!--<span class="mnv-unit">{{ item.unitname }}</span>   -->
                <!--<div><div class="mnv-edit-qty" style="margin-left:0.5em" relicon="far fa-save"><i class="fas fa-edit"></i></div> </div>-->
            </div>        
            <div style="clear:both"></div> 
            </div> 
            <div class="div-table-col-5 mnv-price price-col" style="vertical-align:top; " >{{ item.sellingprice|number_format }}</div> 
            <div class="div-table-col-5 mnv-detail-subtotal subtotal-col" style=" vertical-align:top;">{{ item.subtotal|number_format }}</div> 
            <div class="div-table-col-5 delete-col" style="vertical-align:top;" ><div class="mnv-delete-cart-row remove-button"><i class="fas fa-times"></i></div></div> 
        </div> 
    {% endfor %}
        <div class="div-table-row subtotal-row no-odd-even-style">
            <div class="div-table-col-5"></div>  
            <div class="div-table-col-5"></div> 
            <div class="div-table-col-5"></div> 
            <div class="div-table-col-5"></div>  
            <div class="div-table-col-5 mnv-cart-table-subtotal" style="text-align:right;vertical-align:top;">{{ subtotal|number_format }}</div> 
            <div class="div-table-col-5"></div> 
        </div>   
</div>   
<div style="clear: both; height: 2em"></div>    
<div style="text-align:center;">{{ btnNext|raw }}</div>
</div>    
    
<h2 relkey="shipment">{{ LANG.shippingInformation }}
<div class="summary mnv-shipment-summary">
    <div class="div-table">
        <div class="div-table-row"><div class="div-table-col" ><b>{{ LANG.totalWeight|ucfirst }} <span class="mnv-total-weight">{{ totalWeight|number_format(2) }} KG</span>, {{ LANG.shippingCost|lower }} Rp. <span class="mnv-cart-shipping-cost">0</span></b></div></div>
        <div class="div-table-row"><div class="div-table-col mnv-recipient-shipment" style="padding-bottom: 0.3em"><b>{{ LANG.shipment|lower }}: <span class="mnv-shipping"></span></b></div></div>
        <div class="div-table-row"><div class="div-table-col mnv-recipient-name" {% if labelName is empty %}style="display: none"{% endif %}>{{ labelName }}</div></div>
        <div class="div-table-row"><div class="div-table-col mnv-recipient-phone" {% if labelPhone is empty %}style="display: none"{% endif %}>{{ labelPhone }}</div></div>
        <div class="div-table-row"><div class="div-table-col mnv-recipient-email" {% if labelEmail is empty %}style="display: none"{% endif %}>{{ labelEmail|raw }}</div></div>
        <div class="div-table-row"><div class="div-table-col mnv-recipient-city" {% if labelCity is empty %}style="display: none"{% endif %}>{{ labelCity|raw }}</div></div> 
        <div class="div-table-row"><div class="div-table-col mnv-recipient-address" {% if labelAddress is empty %}style="display: none"{% endif %}>{{ labelAddress|raw }}</div></div> 
        <div class="div-table-row"><div class="div-table-col mnv-recipient-zipcode update-rate" {% if labelZipcode is empty %}style="display: none"{% endif %}>{{ labelZipcode|raw }}</div></div> 
    </div>
</div>
</h2> 
<div class="tab">
<div class="shipping-information" style="width: 100%;"> 
    <div class="div-table shipping-information-table">
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.name }}</label>
    <div class="col-lg-9">
    {{ inputName|raw }}
    </div>
    </div>
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.phone }}</label>
    <div class="col-lg-9">
    {{ inputPhone|raw }}
    </div>
    </div>
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.email }}</label>
    <div class="col-lg-9">
    {{ inputEmail|raw }}
    </div>
    </div>
<!--
Biteship gk pake kota
<div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.city }}</label>
    <div class="col-lg-9">
    {{ inputCity|raw }}
    </div>
    </div>-->
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.address }}</label>
    <div class="col-lg-9">
    {{ inputAddress|raw }}
    </div>
    </div>
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.zipcode }}</label>
    <div class="col-lg-9">
    {{ inputZipcode|raw }}
    </div>
    </div>
    </div>
    
    <div class="div-table shipping-information-table">
    
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.weight }} (KG) </label>
    <div class="col-lg-9">
    {{ inputWeight|raw }}
    </div>
    </div>
    <div class="form-group" >
    <label class="col-lg-3 control-label">{{ LANG.shipment }}</label>
    <div class="col-lg-9">
    <div class="flex">
        <div>{{ inputCourier|raw }}</div><div class="consume">{{ inputShipment|raw }}</div>
    </div> 
    </div>
    </div>
    <div>
     <div class="form-group dropoff-loc" style="{% if showMapOnLoad %} display:block; {% endif %}">
    {{ hidLatLang|raw }}
    <label class="col-lg-3 control-label">{{ LANG.dropOffLocation }}</label>
    <div class="col-lg-9">
    <div class="location-map">
    {{ hidLatLng|raw }}
    <div class="flex">
    <div class="consume">{{ inputMapAddress|raw }}</div>
    <div class="current-loc"><i class="fas fa-map-marker-alt"></i></div>
    </div>
    <div id="map"></div>   
    </div>
    
     <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ settings.mapAPIKey }}&callback=initMap&libraries=places&v=weekly" async></script>
    <script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}gmap.min.js"></script>
    <script type="text/javascript">
    function initMap(){ 
    var mapObj = new GMap({'mapObj':$("#map"), 'autocompleteObj' : $("[name=mapAddress]"), 'latlngObj' : $("[name=hidLatLng]"), 'currentLocObj' :  $(".current-loc") });    
    mapObj.initAutocomplete();    
    }
    </script>
        
    </div>
    </div> 
    </div>    
   
        
<!--    <div class="form-group">
    <label class="col-lg-3 control-label"></label>
    <div class="col-lg-9">
    {{ inputInsurance|raw }} <span style="margin-left:0.5em">{{ LANG.useInsurance }} </span>
    </div>
    </div> -->
        
    <div class="form-group">
    <label class="col-lg-3 control-label">{{ LANG.shippingCost }}</label>
    <div class="col-lg-9">
     {{ inputShippingCost|raw }}
    </div>
    </div> 
 
    </div> 
    <div style="clear: both; height: 2em"></div>   
     <div style="text-align:center;">{{ btnNext|raw }}</div>
    
</div>
</div>   
   
<h2 relkey="payment">{{ LANG.payment }}
<div class="summary">
<div class="div-table">
        <div class="div-table-row">
            <div class="div-table-col" style="padding-right: 4em">{{ LANG.totalShopping }}</div>
            <div class="div-table-col mnv-cart-total-sales" style="text-align: right">{{ subtotal|number_format }}</div>
        </div>
        <div class="div-table-row">
            <div class="div-table-col" style="padding-right: 4em">{{ LANG.voucher }}</div>
            <div class="div-table-col mnv-cart-voucher" style="text-align: right">0</div>
        </div>
        <div class="div-table-row">
            <div class="div-table-col" style="padding-right: 4em">{{ LANG.PPN }} 10%</div>
            <div class="div-table-col mnv-cart-tax" style="text-align: right">{{ tax|number_format }}</div>
        </div>
        <div class="div-table-row">
            <div class="div-table-col">{{ LANG.shippingCost }}</div>
            <div class="div-table-col mnv-cart-shipping-cost" style="text-align: right">0</div>
        </div> 
        <div class="div-table-row" style="font-weight: bold">
            <div class="div-table-col"> {{ LANG.total }}</div>
            <div class="div-table-col mnv-cart-total" style="text-align: right; border-top: 1px solid #dedede">{{ grandtotal|number_format }}</div>
        </div>
    </div>        
</div>
</h2> 
<div class="tab">   
	 
    <div class="div-table" style="margin: auto; font-size: 1.2em; ">
        <div class="div-table-row">
            <div class="div-table-col-3" style="padding-right: 2em; width: 14em">{{ LANG.totalShopping }}</div>
            <div class="div-table-col-3 mnv-cart-total-sales" style="text-align: right">{{ subtotal|number_format }}</div>
        </div>
		
		{% if not loginName is empty %}
        <div class="div-table-row">
            <div class="div-table-col-3" style="padding-right: 2em; width: 14em">
				{{ hidVoucherKey|raw }}
				<div class="mnv-cart-voucher-label">{{ LANG.voucher }}</div>
				<div class="choose-voucher link-s" style="font-style: italic">{{ LANG.chooseVoucher|lower }}</div>
			</div>
            <div class="div-table-col-3 mnv-cart-voucher" style="text-align: right">0</div>
        </div>
		{% endif %}
		
        <div class="div-table-row">
            <div class="div-table-col-3" style="padding-right: 2em; width: 14em">{{ LANG.PPN }} 10%</div>
            <div class="div-table-col-3 mnv-cart-tax" style="text-align: right">{{ tax|number_format }}</div>
        </div>
        <div class="div-table-row">
            <div class="div-table-col-3">{{ LANG.shippingCost }}</div>
            <div class="div-table-col-3 mnv-cart-shipping-cost" style="text-align: right">0</div>
        </div>
		 
<!--
        <div class="div-table-row">
            <div class="div-table-col-3">{{ LANG.discount }}</div>
            <div class="div-table-col-3 mnv-cart-discount text-red-cardinal"  style="text-align: right">0</div>
        </div>
-->
        <div class="div-table-row">
            <div class="div-table-col-3"> {{ LANG.total }}</div>
            <div class="div-table-col-3 mnv-cart-total" style="text-align: right; border-top: 1px solid #dedede">{{ grandtotal|number_format }}</div>
        </div>
    </div>   
    
   <div style="text-align:center;margin-top:2em"><div class="g-recaptcha" data-sitekey="{{ settings.reCaptchaSiteKey }}" style="display:inline-block"></div> </div>
    
    <div style="clear: both; height: 2em"></div>        
  
    <div style="text-align:center;margin-top:2em">{{ btnSubmit|raw }}</div>  
</div>
    
</div>
    
</form>
</div> 

<div style="clear: both; height: 5em"></div>       
{% endblock %}