{% extends "template.html" %}
{% block CSS %}
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}ekko-lightbox.min.css"> 
{% endblock %}
{% block dfLoadFiles %} 
    ["{{ TEMPLATE_JS_PATH }}ekko-lightbox.min.js"],
{% endblock %} 

{% block JSOnLoad %}

        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault(); 
            $(this).ekkoLightbox(); 
        });

{% endblock %} 

{% block pagetitle %}{{ rsGallery[0].name|raw }} | {{ parent() }}{% endblock %}

{% block content %}
{% set bannerIndex = banner['galleryHR'][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div>   
<div class="content-wrapper "> 
    <div class="gallery-tittle">
    <h2>{{ rsGallery[0].name|raw }}</h2> 
    </div>
    <ul class="gallery-detail-list" style="margin: 2em 0">
    {% for data in rsGalleryImage %}
        <li>
            <div class="content-panel">
                <a href="/download.php?filename=gallery/{{ rsGallery[0].pkey }}/{{ data.file }}" data-toggle="lightbox" data-title="{{ rsGallery[0].name|raw }}" data-gallery="{{ rsGallery[0].pkey }}">
                <div class="image-panel" alt="{{ rsGallery[0].name|raw }}" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}gallery/{{ rsGallery[0].pkey }}/{{ data.file }}&hash={{ data.phpThumbHash }}')"></div>   
                </a>
            </div> 
        </li>
    {% endfor %}
    </ul>
</div> 
<div style="clear:both; height: 2em"></div>

{% endblock %}