<div id="invoice-template">   
<h2>
<div style="text-align: center;">{{ LANG.salesInvoice|upper }}</div>
<div style="text-align: center;">{{ code|upper }}</div>
</h2>    
<div style="clear:both; height: 3em"></div>     
<div class="div-table invoice-header" style="width: 100%; margin-bottom:1em"> 
<div class="div-table-row"> 
<div class="div-table-col-3"> 
    <div class="div-table" style="width:100%">
    <div class="div-table-row">
    <div class="div-table-col-3 row-header" style="width:8em;font-weight:bold">{{ LANG.name }}</div>
    <div class="div-table-col-3">{{ recipientName|raw }}</div>
    </div>
    <div class="div-table-row">
    <div class="div-table-col-3" style="font-weight:bold">{{ LANG.phone }}</div>
    <div class="div-table-col-3">{{ recipientPhone|raw }}</div>
    </div>
    <div class="div-table-row">
    <div class="div-table-col-3" style="font-weight:bold">{{ LANG.email }}</div>
    <div class="div-table-col-3">{{ recipientEmail|raw }}</div>
    </div>
    <div class="div-table-row">
    <div class="div-table-col-3" style="font-weight:bold">{{ LANG.address }}</div>
    <div class="div-table-col-3">{{ recipientAddress|raw }}</div>
    </div>
    </div>  
</div> 
<div class="div-table-col-3" style="width: 30%"> 
    <div class="div-table"  style="width:100%">
        <div class="div-table-row">
        <div class="div-table-col-3  row-header"  style="width:8em;font-weight:bold">{{ LANG.invoiceDate }}</div>
        <div class="div-table-col-3">{{ trdate|date("d M Y") }}</div>
        </div>
        <div class="div-table-row">
        <div class="div-table-col-3" style="font-weight:bold">{{ LANG.status }}</div>
        <div class="div-table-col-3">{{ statusname }}</div>
        </div>
    </div>    
</div> 
   
</div>  
</div>
<div style="clear: both; height: 2em"></div>  
<div class="div-table basic-table-01">
<div class="div-table-row col-header" style="font-weight: bold; background-color: #dedede">
<div class="div-table-col-5 col-header" style="text-align:right;width:10px; border-radius: 0.3em 0 0 0.3em">#</div>
<div class="div-table-col-5 col-header" style="text-align:left">{{ LANG.itemName }}</div>
<div class="div-table-col-5 col-header" style="text-align:right;width:60px">{{ LANG.qty }}</div> 
<div class="div-table-col-5 col-header" style="text-align:right;width:120px">{{ LANG.price }}</div>
<!--<div class="div-table-col-5 col-header" style="text-align:right;width:100px">{{ LANG.discount }} @</div>-->
<div class="div-table-col-5 col-header" style="text-align:right;width:150px; border-radius: 0 0.3em 0.3em 0">{{ LANG.subtotal }}</div>
</div>
{% for item in rsDetail %}
<div class="div-table-row transaction-row">
<div class="div-table-col-5 row-number" style="text-align:right;vertical-align:top">{{ loop.index }}.</div>
<div class="div-table-col-5 mnv-item-name name-col" style="vertical-align:top;text-align:left"><a href="/products-detail/{{ not item.itemaliasname ?  item.itemname|urlfilter|raw : item.itemaliasname|urlfilter|raw }}/{{ item.itemkey }}" target="_blank">{{ not item.itemaliasname ?  item.itemname|raw : item.itemaliasname|raw }}</a></div>
<div class="div-table-col-5 table-row-mode">{{ item.qty|number_format }}x {{ item.priceinunit|number_format }}</div>
<div class="div-table-col-5 table-row-mode" style="text-align: right"><b>{{ item.total|number_format }}</b></div> 
<div class="div-table-col-5 table-col-mode" style="text-align:right;vertical-align:top" > 
<span class="mnv-label-qty">{{ item.qty|number_format }}</span> 
<div style="clear:both"></div> 
</div>  
<div class="div-table-col-5 table-col-mode" style="text-align:right;vertical-align:top">{{ item.priceinunit|number_format }}</div>
<!--<div class="div-table-col-5" style="text-align:right;vertical-align:top">{{ item.discount|number_format }}</div>-->
<div class="div-table-col-5 table-col-mode" style="text-align:right;vertical-align:top">{{ item.total|number_format }}</div>
</div>    
{% endfor %}
</div>
<!--<div class="mobile-table show-mobile" style="width:100%">
{% for item in rsItem %}
<div class="group">
<div class="item-name"><a href="{{ HTTP_HOST }}products-detail/{{ item.pkey }}/{{ item.linkname }}" target="_blank">{{ item.name|raw }}</a></div>
<div class="div-table">
<div class="div-table-row">
<div class="div-table-col-3 col-header">{{ LANG.qty }}</div>
<div class="div-table-col-3">{{ item.qty|number_format }} {{ item.unitname }}</div>
</div>
<div class="div-table-row">
<div class="div-table-col-3 col-header">{{ LANG.price }} @</div>
<div class="div-table-col-3">{{ item.sellingprice|number_format }} IDR</div>
</div>
{% if item.discount != 0 %}
<div class="div-table-row">
<div class="div-table-col-3 col-header">{{ LANG.discount }} @</div>
<div class="div-table-col-3">{{ item.discount|number_format }} IDR</div>
</div>
{% endif %}
<div class="div-table-row">
<div class="div-table-col-3 col-header">{{ LANG.subtotal }}</div>
<div class="div-table-col-3">{{ item.subtotal|number_format }} IDR</div>
</div>
</div>
</div>
{% endfor %}
</div>--> 
<div class="div-table subtotal-table" style="width:100%; border-top:1px solid #666">
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.subtotal|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ subtotal|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
<!--<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.discount|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ finalDiscountValue|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>-->
	
{% for voucher in rsVoucher %}
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ voucher.code|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">-{{ voucher.amount|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
{% endfor %}
	
{% if taxValue != 0 %}
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.dpp|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ beforeTax|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.PPN|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ taxValue|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
{% endif %}
{% if shipmentFee != 0 %}
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.shippingCost|upper }}<div style="font-size:.9em;font-weight:normal">{{ recipientCourier|raw }}</div></div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ shipmentFee|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
{% endif %}
{% if etcCost != 0 %}
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t" style="text-align:right;font-weight:bold">{{ LANG.etccost|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t" style="width:150px;text-align:right;font-weight:bold">{{ etcCost|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
{% endif %}
<div class="div-table-row subtotal-row no-odd-even-style">
<div class="div-table-col-5 mobile-footer-subtotal-label col-footer-t col-footer-b" style="text-align:right;font-weight:bold">{{ LANG.total|upper }}</div>
<div class="div-table-col-5 mobile-footer-subtotal-value col-footer-t col-footer-b" style="width:150px;text-align:right;font-weight:bold">{{ grandTotal|number_format }}</div>
<div class="show-mobile row-break"></div>
</div>
</div> 
</div>