{% extends "template.html" %}
{% block pagetitle %}{{ title }} | {{ parent() }}{% endblock %}
{% block content %}
{% set bannerIndex = banner[PAGE_ID][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div>  
<div class="content-wrapper">  
{{ content|raw }}
</div>
<div style="clear:both; height: 8em"></div> 
{% endblock %}