{% extends "template.html" %}
{% block pagetitle %}{{ LANG.point }} | {{ parent() }}{% endblock %}
{% block JS %}
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}point-cashback.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){  
 var pointCashback = new PointCashback();
 pointCashback.loadOnReady();   
 {{ JSScript|raw }} 
})
</script>
{% endblock %}
{% block content %}
{% set bannerIndex = banner['point'][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div>  
<div class="content-wrapper"> 
	<div class="div-table profile-submenu" style="width:100%">
		<div class="div-table-row">
			<div class="div-table-col side-menu">
				{{ macro.buildProfileSubmenu(_context) }}
			</div>
			<div class="div-table-col"> 
			<div style="clear: both; height: 1em"></div> 
			{% if canUsePoint == 1 and membershipLevel >= 2  %}
				<form id="mnv-form-cashback" class="form-horizontal prevent-form-submit" action="/ajax-voucher.php">
					{{ inputHidAction|raw }}
					<div class="notification-msg"></div>
					<div style="text-align: center; font-size: 1.2em">
						{% if eligiblePoint > 0 %}
							Kamu memiliki <b>{{ eligiblePoint|number_format }}</b> Poin yang dapat kamu tukarkan untuk cashback, senilai <b>Rp. {{ cashbackAmount|number_format }}</b>
						{% else  %}
							Mohon maaf, saat ini kamu belum memiliki poin yang bisa diclaim cashback.
						{% endif %}

					</div>
				<div style="clear:both; height: 4em"></div>
				<div style="text-align: center; width: 100%">{{ btnSubmit|raw }}</div>
				</form>
			{% else %}
				<div class="information-panel">
			 	<div class="text-red-cardinal" style="text-align: center">Anda harus memiliki minimal <b>{{ minimumPoint }} poin</b> dan <b>premium membership</b> untuk dapat menggunakan poin Anda.</div>
				{{ macro.pointBar(_context) }}
				</div>
			{% endif %}
			</div>		
			</div>
		</div>
</div>  

<div style="clear: both; height: 5em"></div>    
{% endblock %}