{% extends "template.html" %}
{% block pagetitle %}{{ LANG.transactionHistory }} | {{ parent() }}{% endblock %}
{% block content %}
{% set bannerIndex = banner['payment'][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div>  
<div class="content-wrapper">    
	<div class="div-table profile-submenu" style="width:100%">
		<div class="div-table-row">
			<div class="div-table-col side-menu">
				{{ macro.buildProfileSubmenu(_context) }}
			</div>
			<div class="div-table-col">
				<div class="information-panel">
					Belanja terus agar dapat menggunakan poin Anda &amp; dapatkan keuntungan menjadi membership Kenari Djaja. 
				</div>
				{% if not rsSalesOrder is empty %}  
					<div class="transaction-desktop">
						<div class="div-table transaction-history-table basic-table-01" style="width: 100%; margin-top: 1em">
						 <div class="div-table-row col-header" style="font-weight: bold;">
							<div class="div-table-col-3 row-number align-right" style="right; width: 3em">#</div>
							<div class="div-table-col-3" style="width: 10em;">{{ LANG.code }}</div>
							<div class="div-table-col-3 align-center" style="width: 7em;">{{ LANG.date }}</div>
							<div class="div-table-col-3 align-right" style="width: 8em;">{{ LANG.total }}</div>
							<div class="div-table-col-3" style="width: 10em;">{{ LANG.status }}</div>
							<div class="div-table-col-3">{{ LANG.paymentInformation }}</div>
						</div>
						{% for data in rsSalesOrder %}
							<div class="div-table-row">
								<div class="div-table-col-3 hide-mobile row-number align-right">{{ loop.index }}. </div>
								<div class="div-table-col-3 title"><a href="/invoice/{{ data.pkey }}/{{ data.token }}" target="_blank">{{ data.code }}</a></div>
								<div class="div-table-col-3  align-center">{{ data.trdate|date('d / m / Y') }} </div>
								<div class="total div-table-col-3  align-right">{{ data.grandtotal|number_format }} </div> 
								<div class="div-table-col-3">{{ data.statusname }} </div>
								<div class="div-table-col-3">{{ data.paymentInformation|raw }} </div>
							</div>
						{% endfor %}
						</div>  
					</div>
					<div class="transaction-mobile">
						<ul> 
						{% for data in rsSalesOrder %}
							<li> 
								<div class="header-row flex">
									<div class="title consume"><a href="/invoice/{{ data.pkey }}/{{ data.token }}" target="_blank">{{ data.code }}</a></div>
									<div class="total">{{ data.grandtotal|number_format }} </div>  
								</div>
								<div class="date">{{ data.trdate|date('d / m / Y') }} - {{ data.statusname }}</div>
								<div class="payment-information">{{ data.paymentInformation|raw }} </div>
							</li>
						{% endfor %}
						</ul>  
					</div>
				{% else %}
					<div style="text-align: center">{{ LANG.noDataFound }}</div>
				{% endif %} 

				{% set path = 'transaction-history/' %} 
				{{ macro.buildPageList(_context,path) }}
			</div>
		</div>
	</div>	 
	
</div>
<div style="clear: both; height: 5em"></div>    
{% endblock %}